.container-fluid {
  min-height: 110vh;
  margin: 0px;
  padding: 0px;  
  padding-top: 100px;
  background-color: #faf0be;
}

.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.02); }

hr {
  width: 50%;
}

.btn {
  margin: 5px;
}
.paper {
  background-color: whitesmoke;
  background-size: 100% 1.2em;
  background-image: -webkit-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                  -webkit-linear-gradient(#eee .0em, transparent .0em);
  background-image: -moz-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                  -moz-linear-gradient(#eee .0em, transparent .0em);
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                  linear-gradient(#eee .0em, transparent .0em);     
  border-radius: 15px; 
}

.notebar {
  width: 95%;
  background-color: red;
}

.singlenote {
  padding-left: 100px;
}

.jumbotron {
  margin: 10px;
  padding: 10px;  
}

#displaynotes .noteelement:hover {
  cursor: pointer;
}

#displaynotes .row {
  margin: 10px;
  border-radius: 20px;
}

#displaynotes .row:hover {
  background-color:#e2e2e2;  
}

.buttonsgroup {
  padding-top: 20px;
}

@media screen and (max-width: 500px) {
  .singlenote {
    padding-left: 30px;
  }
}